@use '../helpers/variables';

.query-img {
    & img {
        border-radius: 4px;
        height: 180px;
        width: 180px;
    }
}

.query-item {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
        flex-direction: column-reverse;
    }
}

.query-title {
    max-width: 400px;
}

.query-zone {
    padding-top: 32px;

    & span {
        color: variables.$p-color;
    }
}

.query-available {
    // width: 36px;
    // height: 36px;
    // background-image: url('/assets/ic_shipping@2x.png');

    // @media (max-width: 768px) {
    width: 18px;
    height: 18px;
    background-image: url('/assets/ic_shipping.png');
    // }
}