@use 'components/navbar';
@use 'components/itemList';
@use 'helpers/mixins';
@use 'helpers/variables';
@use 'helpers/inputsDecoration';
@use 'helpers/mainClasses';

body {
    margin: 0;
    padding: 0;
    background-color: variables.$background-color;
}
