@use 'components/navbar';
@use 'helpers/mixins';
@use 'helpers/variables';

body {
    margin: 0;
    padding: 0;
    background-color: variables.$background-color;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.container {
    width: 90vh;
    max-width: 1180px;
    margin-right: auto;
    margin-left: auto;

    @media (max-width: 768px) {
        width: 85%;
    }
}